* {
  font-family: sans-serif; /* Change your font family */
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr, .inicio-session {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.inicio-session {
  border-radius: 15px;
  margin-left: 30%;
  margin-right: 30%;
}

.inicio-session legend {
  color: #4A0FB3;
}
.inicio-session legend, label, input {
  display: block;
  padding: 5px;
  margin: 10px auto;
}

.inicio-session label {
  text-align: center;
}

.iniciar-session {
  cursor: pointer;
  background-color: #4A0FB3;
  border-radius: 10px;
}

.iniciar-session:hover {
  background-color: #2196f3;
}



.cierre-session {
  background-color: darkgoldenrod;
}

.info-session, .session-atras {
  background-color: blue;
}

.info-usuario li {
  list-style: none;
  font-weight: bold;
  margin-right: 35px;
}

h4 {
  font-size: 2em;
  color: #009879;
} 

p {
  background-color: #009879;
  color:  #B6092E;
  margin-left: 30%;
  margin-right: 30%;
}
